<h1>Please, enter your choise</h1>

<%= form_for(@vote) do |f| %>

  <div class="field">
    <%= f.label :vote, "Select if you like this post" %>
    <%= f.check_box :vote %>
  </div>

  <div class="field">
    <%= f.number_field :user_id %><br>
  </div>

  <%= f.hidden_field :micropost_id, value: @micropost_id %><br>
  
  <div class="actions">
    <%= f.submit %>
  </div> 

<% end %>

<a href="/microposts">Back</a>